
*{
  /*box-sizing: border-box;*/

}
.grid-container{
  width: 100%;
  /*max-width: 1200px;*/
  margin: 0 auto;
}

.row{
  width: 100%;
  display: flex;

}

.col-1{
  width:8.34%;
}
.col-2{
  width: 16.66%;
}
.col-3{
  width:25%;
}
.col-4{
  width: 33.2%;
}
.col-5{
  width:41.67%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.38%;
}
.col-8{
  width: 65.84%;
}
.col-9{
  width: 75.06%;
}
.col-10{
  width: 83.4%;
}
.col-11{
  width: 91.74;
}
.col-12{
  width: 100%;
}

header {
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.center{
  display: flex;
  justify-content: center;
}
.align{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.logo{
  max-height: 75px;
  max-width: 180px;
}

ul{
  list-style-type: none;
}
li{
  text-transform: uppercase;
    font-size: 14px;
    color: #ccc;
}
.listDivider li + li:before{
  content: '|';
  padding:1rem;
  color: #999;
}
.back {

  background-image: url('assets/background.jpg');
  align-items: center;
  justify-content: space-around;
  background-position: center;
  padding: 1rem;
}
.intro{
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
  font: 400 20px/1.5 Helvetica,Arial,sans-serif;
  max-width: 800px;
}
.security{
  color: #333;
  font-size: 130%;
  background-color: #eaf5e9;
  padding: 5px 15px;
  border-radius: 2px;
  margin-top: 1em;
  max-width: 800px;
  text-align: center;
}
.download{
  display: block;
  margin: 10px 4px;
  padding: .2em .6em;
  background-color: #026e00;
  color:#fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
small{
  font-size: 1rem;
}
a{
  text-decoration: none;
}

.footer{
  {
      background-color: #333;
      display: flex;
      justify-content: center;
      flex-wrap:wrap;
  }
}
